# Ignore everything
*

# Allow app.yaml
!app.yaml
!Dockerfile

# Allow Laravel folders
!app/**
!bootstrap/**
!config/**
!database/**
!public/**
!resources/**
!routes/**
!storage/**

!artisan
!composer.json
!composer.lock
